<?xml version="1.0"?>
<launch>
  <node pkg="lsm_localization" type="lsm_localization_node" name="lsm_localization" output="screen">
    <param name="fixed_frame" value="map"/>
    <param name="publish_tf" value="false"/>
    <param name="publish_pose" value="false"/>
    <param name="publish_pose_stamped" value="false"/>
    <param name="publish_pose_with_covariance_stamped" value="true"/>
    <param name="publish_predicted_pose" value="true"/>
    <param name="publish_measured_pose" value="true"/>
    <param name="publish_constructed_scan" value="true"/>
    <param name="use_map" value="true"/>
    <param name="no_odom_fusing" value="false"/>
    <param name="initialpose_topic_name" value="lsm/initialpose"/>
    <param name="max_angular_correction_deg" value="85.0" />
    <param name="max_linear_correction" value="2.0" />
    <param name="max_iterations" value="50" />
    <param name="max_variance_trans" value="1.0" />
    <param name="max_variance_rot" value="1.0" />
    <param name="max_pose_delta_yaw" value="1.5" />
    <param name="max_correspondence_dist" value="1.0" />
    <param name="do_visibility_test" value="1"/>
    <param name="restart" value="0"/>
    <param name="sigma" value="0.02"/>
    <param name="orientation_neighbourhood" value="20"/>
    <param name="outliers_maxPerc" value="0.99"/>
    <param name="outliers_adaptive_order" value="0.95" />
    <param name="use_corr_tricks" value="1"/>
    <param name="max_allowed_range" value="20.0" />
    <param name="scan_downsample_rate" value="4"/>
    <param name="publish_debug" value="false"/>
    <param name="debug_csm" value="false"/>
  </node>
</launch>
